{%extends'::base1.html.twig' %}
{% block body %}
<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="../assets/img/sidebar-1.jpg">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
-->
        <div class="logo">
            <img src="{{asset('elearning/images/logo.png')}}" width="100" height="70" ><br>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="material-icons">library_books</i>
                        <p>planing</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('formateurjee') }}">
                        <i class="material-icons">person</i>
                        <p>le (s) formateur (s)</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('prixjee') }}">
                        <i class="material-icons">content_paste</i>
                        <p>Prix</p>
                    </a>
                </li>
                <li>
                    <a href="./icons.html">
                        <i class="material-icons">bubble_chart</i>
                        <p>Financement</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('dureejee') }}">
                        <i class="material-icons text-gray">notifications</i>
                        <p>Durée</p>
                    </a>
                </li>
                <li>
                    <a href="./maps.html">
                        <i class="material-icons">location_on</i>
                        <p>Maps</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group  is-empty">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="material-input"></span>
                        </div>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </form>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="{{ path('index') }}">
                                        <i class="material-icons">library_books</i>
                                        <p>Accueil</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('catalogue') }}">
                                        <i class="material-icons">library_books</i>
                                        <p>Catalogue Formation</p>
                                    </a>
                                </li>
                                <li><a href="{{ path('connexion') }}">
                                        <i class="material-icons">person</i>
                                        <p>connexion</p>
                                    </a>
                                </li>
                                <li><a href="{{ path('inscrire') }}">
                                        <i class="material-icons">person</i>
                                        <p>s'inscrire</p>
                                    </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="blue">
                                <h4 class="title">Formation Java J2EE</h4>
                            </div>
                            <div class="card-content">
                                <div id="typography">
                                    <div class="title">
                                        <h2>Les objectifs</h2>
                                        <ul>
                                        </ul>
                                        <h2>Programme de formation JEE</h2>
                                    </div>
                                    <div class="row">
                                        <div class="title">
                                            <h2><u>Jour 1</u></h2>
                                            <ul>
                                                <li>Les principes de la programmation Objet.</li>

                                                <li>Les éléments de base du langage Java.</li>

                                                <li> La définition de classe.</li>

                                                <li>L'héritage, les interfaces et le polymorphisme.</li>
                                            </ul>
                                        </div>
                                        <div class="title">
                                            <h2><u>Jour 2</u></h2>
                                            <ul>
                                                <li>Rappel sur le contexte des applications Web.</li>

                                                <li>Serveur et client Web. Protocole HTTP.</li>

                                                <li>La plateforme JEE.</li>

                                                <li>Les servlets et les pages JSP. Concepts.</li>

                                                <li>La gestion de formulaires HTML et intégration de Framework CSS bootstrap.</li>

                                                <li>Application : création d’un formulaire et connexion à une base de données en utilisant JDBC.</li>
                                            </ul>
                                        </div>

                                        <div class="title">
                                            <h2><u>Jour 3</u></h2>
                                            <ul>
                                                <li>Les redirections et les sessions</li>

                                                <li>Les pages JSP, intégration de JSTL et langage EL  Les Filtres Application : formulaire d’authentification</li>
                                            </ul>
                                        </div>
                                        <div class="title">
                                            <h2><u>Jour 4</u></h2>
                                            <ul>
                                                <li>Intégration du principe des Framework ORM.</li>

                                                <li>Mapping objet relationnel avec JPA. pplication : ajout et gérer une liste d’utilisateurs.</li>
                                            </ul>
                                        </div>
                                        <div class="title">
                                            <h2><u>Jour 5</u></h2>
                                            <ul>
                                                <li>Introduction à la notion MVC.</li>

                                                <li>Introduction à la programmation dynamique.</li>

                                                <li>Introduction à JSF.</li>


                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}