<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{asset('elearning/css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{asset('elearning/css/mat.min.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{asset('elearning/css/styles.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- //meta-tags -->
    <link href="{{asset('elearning/css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('elearning/css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('elearning/css/style1.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('elearning/css/style2.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('elearning/css/style3.css')}}" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome -->
    <link href="{{asset('elearning/css/font-awesome.css')}}" rel="stylesheet">
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
<div class="header-top">
    <div class="container">
        <div class="bottom_header_left">
            <p>
                <span class="fa fa-map-marker" aria-hidden="true"></span>Pépinière d'Entreprises bureau n°4 à côté de l'ISET de Beja
            </p>
        </div>
        <div class="bottom_header_right">
            <div class="bottom-social-icons">
                <a class="facebook" href="#">
                    <span class="fa fa-facebook"></span>
                </a>
                <a class="twitter" href="#">
                    <span class="fa fa-twitter"></span>
                </a>
                <a class="pinterest" href="#">
                    <span class="fa fa-pinterest-p"></span>
                </a>
                <a class="linkedin" href="#">
                    <span class="fa fa-linkedin"></span>
                </a>
            </div>
            <div class="header-top-righ">
                <a href="#">
                    <span class="fa fa-sign-out" aria-hidden="true"></span>Connexion</a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="header">
    <div class="content white">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('index') }}" >
                        <img src="{{asset('elearning/images/logo.png')}}" width="150" height="55">
                    </a>
                </div>
                <!--/.navbar-header-->

                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="{{ path('index') }}"class="effect-3">Accueil</a>
                            </li>
                            <li>
                                <a href="{{ path('presentation') }}" class="effect-3">A propos</a>
                            </li>


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formation
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{{ path('catalogue') }}">Catalogue Formation</a>
                                    </li>
                                    <li>
                                        <a href="codes.html">Calendrier Formation</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="{{ path('gallerie') }}" class="effect-3">Gallerie</a>
                            </li>
                            <li>
                                <a href="{{ path('contacter') }}" class="effect-3">Contact</a>
                            </li>
                            <li>
                                <div class="container">
                                    <div class="row">
                                        <div class="search">
                                            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Chercher" />
                                            <button type="submit" class="btn btn-primary btn-sm">Chercher</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>


            </div>
        </nav>
    </div>
</div>
<div class="header">

</div>





    {% block body %}{% endblock %}



<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{asset('elearning/js/materialize.js')}}"></script>
<script src="{{asset('elearning/js/mat.min.js')}}"></script>
<script src="{{asset('elearning//js/script.js')}}"></script>
<script src="{{asset('elearning/js/jquery-2.1.4.min.js')}}"></script>
<!-- bootstrap -->
<script src="{{asset('elearning/js/bootstrap.js')}}"></script>
<!-- stats numscroller-js-file -->
<script src="{{asset('elearning/js/numscroller-1.0.js')}}"></script>
<!-- //stats numscroller-js-file -->

<!-- Flexslider-js for-testimonials -->
<script>
    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 1,
            animationSpeed: 1000,
            autoPlay: false,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 1
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 1
                }
            }
        });

    });
</script>
<script src="{{asset('elearning/js/jquery.flexisel.js')}}"></script>
<!-- //Flexslider-js for-testimonials -->
<!-- smooth scrolling -->
<script src="{{asset('elearning/js/SmoothScroll.min.js')}}"></script>
<script src="{{asset('elearning/js/move-top.js')}}"></script>
<script src="{{asset('elearning/js/easing.js')}}"></script>
<!-- here stars scrolling icon -->
<script>
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });

</script>
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->
<!-- //js-files -->
</body>
</html>