{%extends'::base1.html.twig' %}
{% block body %}
<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="../assets/img/sidebar-1.jpg">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
-->
        <div class="logo">
            <img src="{{asset('elearning/images/logo.png')}}" width="100" height="70" ><br>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="material-icons">library_books</i>
                        <p>planing</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('formateurcisco') }}">
                        <i class="material-icons">person</i>
                        <p>le (s) formateur (s)</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('prixcisco') }}">
                        <i class="material-icons">content_paste</i>
                        <p>Prix</p>
                    </a>
                </li>
                <li>
                    <a href="./icons.html">
                        <i class="material-icons">bubble_chart</i>
                        <p>Financement</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('dureecisco') }}">
                        <i class="material-icons text-gray">notifications</i>
                        <p>Durée</p>
                    </a>
                </li>
                <li>
                    <a href="./maps.html">
                        <i class="material-icons">location_on</i>
                        <p>Maps</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group  is-empty">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="material-input"></span>
                        </div>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </form>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="{{ path('index') }}">
                                        <i class="material-icons">library_books</i>
                                        <p>Accueil</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('catalogue') }}">
                                        <i class="material-icons">library_books</i>
                                        <p>Catalogue Formation</p>
                                    </a>
                                </li>
                                <li><a href="{{ path('connexion') }}">
                                        <i class="material-icons">person</i>
                                        <p>connexion</p>
                                    </a>
                                </li>
                                <li><a href="{{ path('inscrire') }}">
                                        <i class="material-icons">person</i>
                                        <p>s'inscrire</p>
                                    </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="blue">
                                <h4 class="title">Formation Cisco</h4>
                            </div>
                            <div class="card-content">
                                <div id="typography">
                                    <div class="title">
                                        <h2>Les objectifs</h2>
                                        <ul><li>Découvrir les fonctionnalités d’Android pour smartphones et tablettes</li>

                                            <li>Réaliser ses premières applications en respectant les notions UI Android</li>

                                            <li>Assurer la communication entre une application Android et une partie tierce</li>

                                            <li>Développer une application mobile de A->Z</li>
                                        </ul>
                                        <h2>Programme de formation</h2>
                                    </div>
                                    <div class="row">
                                        <div class="title">
                                            <h2><u>Jour 1</u></h2>
                                            <ul><li>Notions de base sur les réseaux</li>

                                                <li>Module centré sur l’étude et l’application du modèle de référence OSI, ainsi que de la pile de protocoles TCP/IP. La théorie de
                                                    la communication réseau y est définie.</li>

                                                <li>Module 1 : Présentation des réseaux </li>

                                                <li>Module 2 : Notions de base sur les réseaux </li>

                                                <li>Module 3 : Médias réseau </li>

                                                <li>Module 4 : Test de câbles </li>

                                                <li>Module 5 : Câblage des réseaux LAN et WAN </li>

                                                <li>Module 6 : Notions de base sur Ethernet </li>

                                                <li>Module 7 : Technologies Ethernet </li>

                                                <li>Module 8 : Commutation Ethernet </li>
                                                <li>Module 9 : Pile de protocoles TCP/IP et adressage IP </li>

                                                <li>Module 10 : Notions de base sur le routage et les sous-réseaux  </li>
                                                <li>Module 11 : Couche transport et couche application du protocole TCP/IP  </li>

                                            </ul>
                                        </div>
                                        <div class="title">
                                            <h2><u>Jour 2</u></h2>
                                            <ul><li>Notions de base sur les routeurs et le routage</li>

                                                <li>Initiation à Cisco ISO et à la configuration des routeurs. Le routage est le point central de module.</li>

                                                <li>Module 1 : WAN et routeurs </li>

                                                <li>Module 2 : Introduction aux routeurs </li>

                                                <li>Module 3 : Configuration d’un routeur </li>

                                                <li>Module 4 : Informations sur les autres équipements </li>

                                                <li>Module 5 : Gestion de la plateforme logicielle Cisco IOS</li>

                                                <li>Module 6 : Routage et protocoles de routage </li>

                                                <li>Module 7 : Protocoles de routage à vecteur de distance </li>

                                                <li> Module 8 : Messages de contrôle et d’erreur de la suite de protocoles TCP/IP </li>
                                            </ul>
                                        </div>

                                        <div class="title">
                                            <h2><u>Jour 3</u></h2>
                                            <ul><li> Notions de base sur la commutation et le routage intermédiaire </li>

                                                <li>La conception LAN est maître de ce module. Les domaines étudiés vont de la communication aux VLAN et ACL en passant par le protoole IGRP.</li>

                                                <li>Module 1 : Introduction au routage sans classe (routage CIDR) </li>

                                                <li>Module 2 : Zone unique OSPF </li>

                                                <li>Module 3 : Le protocole EIGRP </li>
                                                <li>Module 4 : Concepts de commutation  </li>

                                                <li>Module 5 : Les commutateurs  </li>

                                                <li>Module 6 : Configuration d’un commutateur </li>
                                                <li>Module 7 : Protocole Spanning Tree (STP)  </li>

                                                <li>Module 8 : Les LAN virtuels (VLAN)   </li>
                                                <li>Module 9 : Protocole VTP (VLAN Trunking Protocol)  </li>


                                            </ul>
                                        </div>
                                        <div class="title">
                                            <h2><u>Jour 4</u></h2>
                                            <p>Mise en place d'une application Android complète contenant :</p>

                                            <ul><li> Splash Screen</li>

                                                <li>Interface d'authentification liée à une base de donnée MySql via web services PHP/REST/JSON</li>

                                                <li>Mise en place d'un ActionBar en se basant sur ActionBarSherlock.</li>

                                                <li>Géolocalisation.</li>

                                                <li>Affichage d'un ensemble de POI sur GoogleMapsV2 en intégrant un système de cluster</li>

                                                <li>Affichage en mode Liste personnalisée des pois.</li>

                                                <li>Utilisation du SharedProvider du SDK pour le partage sur les réseaux sociaux</li>
                                            </ul>
                                        </div>
                                        <div class="title">
                                            <h2><u>Jour 5</u></h2>


                                            <ul><li>Mise en place d'un Sliding Menu</li>

                                                <li>Stockage des données dans une base de données Sqlite par l'intermédiaire d'un ORM (OrmLite).</li>

                                                <li>Intégration de Open Street Map dans une application Android (une alternative Open Source de Google Maps)</li>

                                                <li>Présentation des bibliothèques Android Open Source.</li>


                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}