{%extends'::base1.html.twig' %}
{% block body %}
<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="../assets/img/sidebar-1.jpg">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
-->
        <div class="logo">
            <a href="{{ path('index') }}">Accueil</a>
            <span>|</span>
            <a href="{{ path('catalogue') }}">Catalogue Formation</a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="material-icons">library_books</i>
                        <p>planing</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('formateurmicrosoft') }}">
                        <i class="material-icons">person</i>
                        <p>le (s) formateur (s)</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('prixmicrosoft') }}">
                        <i class="material-icons">content_paste</i>
                        <p>Prix</p>
                    </a>
                </li>
                <li>
                    <a href="./icons.html">
                        <i class="material-icons">bubble_chart</i>
                        <p>Financement</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('dureemicrosoft') }}">
                        <i class="material-icons text-gray">notifications</i>
                        <p>Durée</p>
                    </a>
                </li>
                <li>
                    <a href="./maps.html">
                        <i class="material-icons">location_on</i>
                        <p>Maps</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group  is-empty">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="material-input"></span>
                        </div>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </form>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="{{ path('index') }}">
                                        <i class="material-icons">library_books</i>
                                        <p>Accueil</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('catalogue') }}">
                                        <i class="material-icons">library_books</i>
                                        <p>Catalogue Formation</p>
                                    </a>
                                </li>
                                <li><a href="{{ path('connexion') }}">
                                        <i class="material-icons">person</i>
                                        <p>connexion</p>
                                    </a>
                                </li>
                                <li><a href="{{ path('inscrire') }}">
                                        <i class="material-icons">person</i>
                                        <p>s'inscrire</p>
                                    </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="blue">
                                <h4 class="title">Formation Microsoft Office</h4>
                            </div>
                            <div class="card-content">
                                <div id="typography">
                                    <div class="title">
                                        <h2>Les objectifs</h2>
                                        <p>Cette formation vous permettra de découvrir les principales nouveautés du pack Office de Microsoft.
                                        Vous verrez les apports de cette édition pour améliorer votre productivité quotidienne et apprendrez à utiliser les nouvelles
                                            fonctions des principaux outils de la version standard (Excel, Word, Powerpoint, Outlook).</p>
                                        <h2>Programme de formation</h2>
                                    </div>
                                    <div class="row">
                                        <div class="title">
                                            <h2><u>Jour 1</u></h2>
                                            <h3><u>Excel</u></h3>
                                            <ul>
                                                <li>Le nouvel affichage. Le ruban, onglets et commandes.</li>

                                                <li> Personnalisation du ruban et de la barre d'état.</li>

                                                <li>Le nouveau format xlsx.</li>

                                                <li>Les exportations des tableaux (PDF, XPS).</li>

                                                <li>La saisie semi-automatique des formules de calcul.</li>

                                                <li> La gestion du style des cellules.</li>

                                                <li>Les mises en forme conditionnelles.</li>

                                                <li>Les nouveaux formats de mise en page.</li>

                                                <li>Les améliorations des fonctions de base de données.</li>

                                                <li>Tris, filtres, tableaux croisés dynamiques, l'outil " Slicer ".</li>

                                                <li>Les nouveautés graphiques : styles, " Sparkline "...</li>
                                            </ul>
                                        </div>
                                        <div class="title">
                                            <h2><u>Jour 2</u></h2>
                                            <h3><u>Word</u></h3>
                                            <ul>
                                                <li>Présentation de la nouvelle interface.</li>

                                                <li>Le nouveau format docx.</li>

                                                <li>La conversion des fichiers en format PDF et XPS.</li>

                                                <li>Personnalisation du ruban et de la barre d'état.</li>

                                                <li>La nouvelle mise en forme dans Word avec les styles prédéfinis.</li>

                                                <li> Mise en forme avec les thèmes.</li>

                                                <li> Les Smart Art. Le Quick Part.</li>

                                                <li>Les nouveaux outils de correction, citation et " traduction " en anglais.</li>

                                                <li> Le générateur d'équations.</li>

                                                <li>La gestion des révisions d'un document.</li>

                                                <li>Nouveautés sur le publipostage .</li>
                                            </ul>

                                        </div>

                                        <div class="title">
                                            <h2><u>Jour 3</u></h2>
                                            <h3><u>Powerpoint</u></h3>
                                            <ul>

                                                <li>La nouvelle interface.</li>

                                                <li>Les formats pptx.</li>

                                                <li>La conversion des fichiers en format PDF et XPS.</li>

                                                <li>Utilisation des thèmes.</li>

                                                <li>La nouvelle gestion des masques de diapositive.</li>

                                                <li>Création de diagrammes avec SmartArt.</li>

                                                <li>Création de tableaux.</li>

                                                <li>Insertion d'images, les nouveaux outils.</li>

                                                <li>Insertion vidéo son. Les animations. Les transitions en 3D.</li>
                                            </ul>
                                        </div>
                                        <div class="title">
                                            <h2><u>Jour 4</u></h2>
                                            <h3><u>Outlook</u></h3>

                                            <ul>
                                                <li>Présentation de la nouvelle interface.</li>

                                                <li>Outlook Social Connector, le principe.</li>

                                                <li>L'organisation par catégorie dans " l'archivage ".</li>

                                                <li>Voir les pièces jointes sans avoir les applications externes.</li>

                                                <li>Le " Quikstep " pour exécuter plusieurs actions.</li>

                                                <li>Archivages : les fichiers pst.</li>

                                                <li>Calendrier : nouveau look. Nouvelle gestion.</li>

                                                <li>Imprimer différents supports papier.</li>
                                            </ul>
                                        </div>
                                        <div class="title">
                                            <h2><u>Jour 5</u></h2>
                                            <h3><u>Soigner et harmoniser l'apparence de votre présentation : les outils "gain de temps"</u></h3>

                                            <ul>


                                                <li>Personnaliser les couleurs, polices ou effets de thèmes.</li>

                                                <li> Modifier le texte et les objets du masque des diapositives.</li>

                                                <li>Ajouter un nouveau masque, une nouvelle disposition.</li>

                                                <li>Créer un modèle, un thème personnalisé.</li>

                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}