{% extends'::base.html.twig' %}
{% block body %}
    <div class="header-top">
        <div class="container">
            <div class="bottom_header_left">
                <p>
                    <span class="fa fa-map-marker" aria-hidden="true"></span>Pépinière d'Entreprises bureau n°4 à côté de l'ISET de Beja
                </p>
            </div>
            <div class="bottom_header_right">
                <div class="bottom-social-icons">
                    <a class="facebook" href="#">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a class="twitter" href="#">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a class="pinterest" href="#">
                        <span class="fa fa-pinterest-p"></span>
                    </a>
                    <a class="linkedin" href="#">
                        <span class="fa fa-linkedin"></span>
                    </a>
                </div>
                <div class="header-top-righ">
                    <a href="{{ path('connexion') }}">
                        <span class="fa fa-sign-out" aria-hidden="true"></span>Connexion</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="header">
        <div class="content white">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('index') }}" >
                            <img src="{{asset('elearning/images/logo.png')}}" width="150" height="55">
                        </a>
                    </div>
                    <!--/.navbar-header-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="{{ path('index') }}"class="effect-3">Accueil</a>
                                </li>
                                <li>
                                    <a href="{{ path('presentation') }}" class="effect-3">A propos</a>
                                </li>

                                <li class="dropdown">
                                    <a href="{{ path('formation') }}" class="dropdown-toggle" data-toggle="dropdown">Formation
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="active">
                                            <a href="{{ path('catalogue') }}">Catalogue Formation</a>
                                        </li>
                                        <li>
                                            <a href="codes.html">Calendrier Formation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{{ path('gallerie') }}" class="effect-3">Gallerie</a>
                                </li>
                                <li>
                                    <a href="{{ path('contacter') }}" class="effect-3">Contact</a>
                                </li>
                                <li>
                                    <div class="container">
                                        <div class="row">
                                            <div class="search">
                                                <input type="text" class="form-control input-sm" maxlength="64" placeholder="Chercher" />
                                                <button type="submit" class="btn btn-primary btn-sm">Chercher</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--/.navbar-collapse-->
                    <!--/.navbar-->
                </div>
            </nav>
        </div>
    </div>
    <!-- banner -->
    <div class="inner_page_agile">

    </div>
    <!--//banner -->
    <!-- short-->
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">
            <ul class="short_ls">
                <li>
                    <a href="{{ path('index') }}">Accueil</a>
                    <span>| |</span>
                </li>
                <li>Catalogue Formation</li>
            </ul>
        </div>
    </div>
<!-- //short-->
<!-- blog -->
<div class="blog-cource">
    <div class="container">
        <div class="title-div">
            <h3 class="tittle">
                <span>l</span>es
                <span>F</span>ormations
            </h3>
            <div class="tittle-style">

            </div>
        </div>


        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img src="{{asset('elearning/images/01.jpg')}}" >
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#"> Android
                                    </a>
                                </h4>
                                <p class="">
                                    est le système d'exploitation mobile crée par Google,Google a souhaité, en développant ...

                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="{{ path('formation') }}"  class="btn btn-link btn-block">
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img src="{{asset('elearning/images/02.jpg')}}" >
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#"> CISCO
                                    </a>
                                </h4>
                                <p class="">
                                    Cisco Networking Academy est une initiative pédagogique novatrice ayant pour but de créer un pool ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="{{ path('formationcisco') }}" class="btn btn-link btn-block">
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img src="{{asset('elearning/images/03.jpg')}}" >
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">Microsoft Office
                                    </a>
                                </h4>
                                <p class="">
                                    est une suite bureautique propriétaire de la société Microsoft fonctionnant avec les plates-formes fixes...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="{{ path('formationmicrosoft') }}" class="btn btn-link btn-block">
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img src="{{asset('elearning/images/04.jpg')}}" >
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#"> JAVA J2EE
                                    </a>
                                </h4>
                                <p class="">
                                    est un langage de programmation et une plate-forme informatique qui ont été créés...

                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="{{ path('formationjee') }}" class="btn btn-link btn-block">
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img src="{{asset('elearning/images/05.jpg')}}" >
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">Wordpress
                                    </a>
                                </h4>
                                <p class="">
                                    est un CMS (pour Content Management System ou encore SGC, en français, pour...

                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="{{ path('formationwordpress') }}" class="btn btn-link btn-block">
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img src="{{asset('elearning/images/06.png')}}" >
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">Infographie
                                    </a>
                                </h4>
                                <p class="">
                                    est le domaine de la création d'images numériques assistée par ordinateur Cette activité est ...

                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="{{ path('formationinfographie') }}" class="btn btn-link btn-block">
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img src="{{asset('elearning/images/07.JPG')}}" >
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">Oracle
                                    </a>
                                </h4>
                                <p class="">
                                    Oracle Database est un système de gestion de base de données relationnelle ...

                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="{{ path('formationoracle') }}" class="btn btn-link btn-block">
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img src="{{asset('elearning/images/08.png')}}" >
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">TOEIC
                                    </a>
                                </h4>
                                <p class="">
                                    Test of English for International Communication) est un test standardisé reconnu à l'échelle internationale...

                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="{{ path('formationtoeic') }}" class="btn btn-link btn-block">
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img src="{{asset('elearning/images/09.png')}}" >
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">LPIC
                                    </a>
                                </h4>
                                <p class="">

                                    est un organisme à but non lucratif qui propose des certifications pour des administrateurs système...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="{{ path('formationlpic')  }}" class="btn btn-link btn-block">
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- //blog -->

<!-- footer -->
    <div class="mkl_footer">
        <div class="sub-footer">
            <div class="container">
                <div class="mkls_footer_grid">
                    <div class="col-xs-4 mkls_footer_grid_left">
                        <h4>Location:</h4>
                        <p>Pépinière d'Entreprises bureau n°4 à côté de
                            <br>  l'ISET de Beja</p>
                    </div>
                    <div class="col-xs-4 mkls_footer_grid_left">
                        <h4>Mail Us:</h4>
                        <p>
                            <span>Tel : </span>(+216) 56 068 828 / 55 36 36 54</p>
                        <p>
                            <span>Email : </span>
                            <a href="mailto:info@example.com">contact@innovasys.com.tn </a>
                        </p>
                    </div>
                    <div class="col-xs-4 mkls_footer_grid_left">
                        <h4>Heures d'ouverture:</h4>
                        <p>Jours de travail: 8h-18h</p>
                        <p>dimanche
                            <span>(Fermé)</span>
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="botttom-nav-allah">
                    <ul>
                        <li>
                            <a href="{{ path('index') }}">Accueil</a>
                        </li>
                        <li>
                            <a href="{{ path('presentation') }}">Présentation</a>
                        </li>
                        <li>
                            <a href="{{ path('catalogue') }}">Catalogue Formation</a>
                        </li>

                        <li>
                            <a href="{{ path('calendrier') }}">Calendrir Formation</a>
                        </li>

                        <li>
                            <a href="{{ path('gallerie') }}">Gallerie</a>
                        </li>
                        <li>
                            <a href="{{ path('contacter') }}">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- footer-button-info -->
                <div class="footer-middle-thanks">
                    <h2>Merci d'avoir regardé </h2>
                </div>
                <!-- footer-button-info -->
            </div>
        </div>
        <div class="footer-copy-right">
            <div class="container">
                <div class="allah-copy">
                    <p>© 2018 Meilleure formation. Tous les droits sont réservés | Concu par
                        <a href="http://w3layouts.com/">Njoumi Sabrine&& Amri Chayma</a>
                    </p>
                </div>
                <div class="footercopy-social">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-rss"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-vk"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}