{%extends'::base.html.twig' %}
{% block body %}
    <div class="header-top">
        <div class="container">
            <div class="bottom_header_left">
                <p>
                    <span class="fa fa-map-marker" aria-hidden="true"></span>Pépinière d'Entreprises bureau n°4 à côté de l'ISET de Beja
                </p>
            </div>
            <div class="bottom_header_right">
                <div class="bottom-social-icons">
                    <a class="facebook" href="#">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a class="twitter" href="#">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a class="pinterest" href="#">
                        <span class="fa fa-pinterest-p"></span>
                    </a>
                    <a class="linkedin" href="#">
                        <span class="fa fa-linkedin"></span>
                    </a>
                </div>
                <div class="header-top-righ">
                    <a href="{{ path('fos_user_security_login') }}">
                        <span class="fa fa-sign-out" aria-hidden="true"></span>Connexion</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="header">
        <div class="content white">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('index') }}" >
                            <img src="{{asset('elearning/images/logo.png')}}" width="150" height="55">
                        </a>
                    </div>
                    <!--/.navbar-header-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="{{ path('index') }}"class="effect-3">Accueil</a>
                                </li>
                                <li >
                                    <a href="{{ path('presentation') }}" class="effect-3">A propos</a>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formation
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="{{ path('catalogue') }}">Catalogue Formation</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('session') }}">Session Formation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{{ path('gallerie') }}" class="effect-3">Gallerie</a>
                                </li>
                                <li>
                                    <a href="{{ path('contacter') }}" class="effect-3">Contact</a>
                                </li>
                                <li>
                                    <div class="container">
                                        <div class="row">
                                            <div class="search">
                                                <input type="text" class="form-control input-sm" maxlength="64" placeholder="Chercher" />
                                                <button type="submit" class="btn btn-primary btn-sm">Chercher</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--/.navbar-collapse-->
                    <!--/.navbar-->
                </div>
            </nav>
        </div>
    </div>
    <!-- banner -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Bienvenue  à la </h4><h3><span>Meilleure Etude</span></h3>
                        <h3>Centre
                            <span>de Formation</span>
                            <p><h6><b>Innovasys Technologies</b></h6></p>
                        </h3>

                    </div>
                </div>
            </div>
            <div class="item item2">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Bienvenue  à la </h4><h3><span>Meilleure Etude</span></h3>
                        <h3>Centre
                            <span>de Formation</span>
                            <p><h6><b>Innovasys Technologies</b></h6></p>
                        </h3>

                    </div>
                </div>
            </div>
            <div class="item item3">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Bienvenue  à la </h4><h3><span>Meilleure Etude</span></h3>
                        <h3>Centre
                            <span>de Formation</span>
                            <p><h6><b>Innovasys Technologies</b></h6></p>
                        </h3>

                    </div>
                </div>
            </div>
            <div class="item item4">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Bienvenue  à la </h4><h3><span>Meilleure Etude</span></h3>
                        <h3>Centre
                            <span>de Formation</span>
                            <p><h6><b>Innovasys Technologies</b></h6></p>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!-- The Modal -->
    </div>
    <!--//banner -->
    <!-- about -->
    <div class="banner-bottom-w3l" id="about">
        <div class="container">
            <div class="title-div">
                <h3 class="tittle">
                </h3>

            </div>

            <!-- Stats-->

            <div class="clearfix"></div>
            <div class="child-stat">
                <div class="col-xs-6 stats-grid stat-border border-st2">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='' data-delay='.5' data-increment="1"></div>
                    <p></p>
                </div>
                <div class="col-xs-6 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='' data-delay='.5' data-increment="1"></div>
                    <p></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Stats -->
        <div class="clearfix"> </div>
    </div>
    </div>
    </div>
    <!-- //about -->
    <!-- services -->
    <div class="services">
        <div class="container">
            <div class="title-div">
                <h3 class="tittle">
                    <span>N</span>os
                    <span>S</span>ervices
                </h3>
            </div>
            <div class="services-moksrow">
                <div class="col-xs-4 services-grids-w3l">
                    <div class="servi-shadow">
                        <span class="fa fa-certificate icon" aria-hidden="true"></span>
                        <h4>Certifications</h4>
                        <p>Internationales en informatique et langues</p>
                    </div>
                </div>
                <div class="col-xs-4 services-grids-w3l">
                    <div class="servi-shadow">
                        <img src="{{asset('elearning/images/iii.jpg')}}" width="60" height="60">
                        <h4>Formations</h4>
                        <p>Assurer par des universitaires et des experts</p>
                    </div>
                </div>
                <div class="col-xs-4 services-grids-w3l">
                    <div class="servi-shadow">
                        <img src="{{asset('elearning/images/iiii.jpg')}}" width="60" height="60">
                        <h4>Developpement</h4>
                        <p>Developpement Web et developpement web digitale</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="services-moksrow">
                <div class="col-xs-4 services-grids-w3l">
                    <div class="servi-shadow">
                        <span class="fa fa-book icon" aria-hidden="true"></span>
                        <h4>Referencement</h4>
                        <p>SEO web marketing</p>
                    </div>
                </div>
            </div>
            <div class="services-moksrow">
                <div class="col-xs-4 services-grids-w3l">
                    <div class="servi-shadow">
                        <img src="{{asset('elearning/images/ii.jpg')}}" width="70" height="65">
                        <h4>Solutions</h4>
                        <p>Sur mesure sur le PME</p>
                    </div>
                </div>
            </div>
            <div class="services-moksrow">
                <div class="col-xs-4 services-grids-w3l">
                    <div class="servi-shadow">
                        <span class="fa fa-users icon" aria-hidden="true"></span>
                        <h4>Management</h4>
                        <p>Agile Professional scrum Master </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- //modal -->
    <!-- //news -->
    <!-- middle section -->
    <div class="middle-sec-agile">
        <div class="container">
            <ul>
                <li>
                    <div class="midle-left-w3l">
                        <span class="fa fa-check" aria-hidden="true"></span>
                    </div>
                    <div class="middle-right">
                        <h5>Bienvenue à la Meilleure Etude</h5>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="midle-left-w3l">
                        <span class="fa fa-check" aria-hidden="true"></span>
                    </div>
                    <div class="middle-right">
                        <h5>Centre de Formation</h5>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="midle-left-w3l">
                        <span class="fa fa-check" aria-hidden="true"></span>
                    </div>
                    <div class="middle-right">
                        <h5>Innovasys Technologies</h5>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
            <a class="button-style" href="{{ path('fos_user_registration_register') }}">Inscrivez -vous</a>
        </div>
        <div class="pencil-img">
            <img src="images/bg5.png" alt="" />
        </div>
    </div>
    <div class="testimonials">
        <div class="container">
            <div class="title-div">
                <h3 class="tittle">
                    <span>N</span>os
                    <span>T</span>émoignage

                </h3>
                <div class="tittle-style">

                </div>
            </div>
            <ul id="flexiselDemo1">
                <li>
                    <div class="three_testimonials_grid_main">
                        <div class="col-xs-3 three_testimonials_grid_pos">
                            <div class="grid-test-allah-agile">
                                <img src="{{asset('elearning/images/sabrine.jpeg')}}" width="150" height="150">
                            </div>
                        </div>
                        <div class="col-xs-9 three_testimonials_grid">
                            <div class="three_testimonials_grid1">
                                <h5>Njoumi Sabrine</h5>
                            </div>
                            <p>
                                j'ai developpé la plate forme elearning  pendant 4 mois au centre de formation <b>Innovasys Technologie </b> sous le
                                soutient des cadres qui travaillent dans ce centre .
                                ces derniers ont me fournit les bonnes conditions tout au long de la periode de l'elaboration
                                de ce travail et le bien maîtriser qui va maider dans mon avenir parcours.

                            </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </li>
                <li>
                    <div class="three_testimonials_grid_main">
                        <div class="col-xs-3 three_testimonials_grid_pos">
                            <div class="grid-test-allah-agile">
                                <img src="images/te2.jpg" alt=" " class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-xs-9 three_testimonials_grid">
                            <div class="three_testimonials_grid1">
                                <h5>Amri Chayma</h5>
                            </div>
                            <p>
                                j'ai developpé la plate forme elearning  pendant 4 mois au centre de formation <b>Innovasys Technologie </b> sous le
                                soutient des cadres qui travaillent dans ce centre .
                                ces derniers ont me fournit les bonnes conditions tout au long de la periode de l'elaboration
                                de ce travail et le bien maîtriser qui va maider dans mon avenir parcours.
                            </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </li>
                <li>
                    <div class="three_testimonials_grid_main">
                        <div class="col-xs-3 three_testimonials_grid_pos">
                            <div class="grid-test-allah-agile">
                                <img src="{{asset('elearning/images/atef.jpg')}}" width="150" height="150">
                            </div>
                        </div>
                        <div class="col-xs-9 three_testimonials_grid">
                            <div class="three_testimonials_grid1">
                                <h5>Oucheri Atef </h5>
                            </div>
                            <p>
                                j'ai reçu deux formations simultaniment <b>Android ,Cisco</b> dans le centre de formation
                               <b>Innovasys Technologieles </b>deux sont finit par un certeficat pour chacune et ca revient aux
                                bonnes condititions fournit par les cadres du centre
                                qui ont bien suivi ces deux experienceset les finalisent par la reussite
                            </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!-- //middle section -->
    <!-- testimonials -->
    <div class="testimonials">
        <div class="container">

        </div>
    </div>
    <!-- footer -->
    <div class="mkl_footer">
        <div class="sub-footer">
            <div class="container">
                <div class="mkls_footer_grid">
                    <div class="col-xs-4 mkls_footer_grid_left">
                        <h4>Location:</h4>
                        <p><b>Pépinière d'Entreprises bureau n°4 à côté de</b>
                        <br> <b> l'ISET de Beja</b></p>
                    </div>
                    <div class="col-xs-4 mkls_footer_grid_left">
                        <h4>Mail Us:</h4>
                        <p>
                            <span><b>Tel : </b></span><b>(+216) 56 068 828 / 55 36 36 54</b></p>
                        <p>
                            <span><b>Email :</b> </span>
                            <a href="mailto:info@example.com"><b>contact@innovasys.com.tn</b> </a>
                        </p>
                    </div>
                    <div class="col-xs-4 mkls_footer_grid_left">
                        <h4><b>Heures d'ouverture:</b></h4>
                        <p><b>Jours de travail: 8h-18h</b></p>
                        <p><b>dimanche</b>
                            <span><b>(Fermé)</b></span>
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="botttom-nav-allah">
                    <ul>
                        <li>
                            <a href="{{ path('index') }}"><b>Accueil</b></a>
                        </li>
                        <li>
                            <a href="{{ path('presentation') }}"><b>A propos</b></a>
                        </li>
                        <li>
                            <a href="{{ path('catalogue') }}"><b>Catalogue Formation</b></a>
                        </li>

                        <li>
                            <a href="{{ path('session') }}"><b>Session Formation</b></a>
                        </li>

                        <li>
                            <a href="{{ path('gallerie') }}"><b>Gallerie</b></a>
                        </li>
                        <li>
                            <a href="{{ path('contacter') }}"><b>Contact</b></a>
                        </li>
                    </ul>
                </div>
                <!-- footer-button-info -->
                <div class="footer-middle-thanks">
                </div>
                <!-- footer-button-info -->
            </div>
        </div>
        <div class="footer-copy-right">
            <div class="container">
                <div class="allah-copy">
                    <p>© Tous les droits sont réservés | Concu par
                        <a href="#">Njoumi Sabrine && Amri Chayma </a>
                    </p>
                </div>
                <div class="footercopy-social">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-rss"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-vk"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}